/* Botão */

.button {
  padding: 16px 32px;
  display: inline-block;
  background: var(--g1);
  border-radius: 20px;
  color: var(--p5);
  box-shadow: var(--shadow-m3);
}

.button:hover {
  background: var(--g2);
}

@media (max-width: 600px) {
  .button {
    padding: 12px 24px;
    font-size: 16px;
  }
}

/* Contain div */

.contain {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Tipografia */

.font-1-g {
  font: 600 4rem/1.125 var(--font-1);
}

.font-1-g span {
  color: var(--p1);
}

.font-1-m {
  font: 500 1.25rem/1.6 var(--font-1);
}

.font-1-m-u {
  font: 800 1.25rem/1.6 var(--font-1);
  text-transform: uppercase;
}

.font-2-m {
  font: 400 1.5rem/1.5 var(--font-2);
}
